#Hero {
  display: flex;
  width: 100vw;
  padding: 4rem;
  justify-content: space-between;

  .hero__mosaico {
    display: flex;
    height: 60rem;
    gap: 2.3rem;

    .mosaico_coluna {
      display: flex;
      flex-direction: column;
      gap: 2.7rem;

      .mosaico_box-imgs {
        border-radius: 2rem;
        transition: .3s;
      }
    }

    .col-one{
        display: flex;
        justify-content: center;
    }

    .col-two{
        display: flex;
        justify-content: center;
        padding: 0 0 7rem;
    }

    .col-three{
        display: flex;
        justify-content: center;
        padding: 5rem 0 0;
    }

    .col-four{
        display: flex;
        justify-content: center;
        padding: 4rem 0 0;
    }

    .box-select{
      transform: scale(1.05);
      box-shadow: -25px -20px 15px -23px rgba(22, 197, 133, 1),
          25px -20px 15px -23px rgba(255, 112, 112, 1),
          2px 1px 15px 3px rgba(255, 215, 115, 1);
    }

    .box-noselect{
      transform: scale(0.9);
      filter: grayscale(1);
    }



    
  }
}
